.bundle/
.idea/
.yardoc
.DS_Store
Gemfile.lock
_yardoc/
coverage/
doc/
pkg/
spec/reports/
tmp/
gemfiles/*.lock
*~
.~*

test/**/*.sqlite3.db
test/**/*.sqlite3
test/**/*.log
test/**/*.pdf

!test/example.pdf
